.contact-wrapper {
    margin-bottom: 13px;
}

.contact {
    margin: 0 auto;
    display: flex;
}

.contact-left {
    margin-left: 0;
}

.contact-left__logo {
    margin-top: 28px;
}

.contact-left__header {
    margin-top: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
    margin-bottom: 8px;
}

.contact-left__text {
    left: 1px;
    top: 123px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: #263238;
    margin-bottom: 11px;

}

.contact-right {
    margin-left: 47px;
    margin-top: 51px;


}

.contact-right__header {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #263238;
    margin-bottom: 20px;
}

.contact-right__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: #263238;
}
