@import "technology.css";
@import "welcome.css";
@import "product.css";
@import "contact.css";

.page-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    display: flex;
    flex: 1 1 auto;
}


.container {
    max-width: 1125px;
    margin: 0 auto;
}

.color-red {
    color: #EE4248;
}



