.product-wrapper {
    margin-top: 116px;
    margin-bottom: 87px;
}

.product {
    display: grid;
    justify-items: center;
    margin: 0 auto;
}

.product-header {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    color: #1F2E35;
    margin-top: 19px;
    margin-bottom: 17px;
}

.product-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 9px;
    margin-bottom: 19px;
}

.our-product {

}

.our-product__img {
    margin-left: 29px;
    margin-top: 22px;
}

.our-product__header {

    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: #EE4248;
    margin-top: 14px;
    margin-left: 24px;

}

.our-product__text {

    width: 329px;
    height: 108px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #30444E;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 10px;

}

.product-button {
    display: inline-flex;
    padding: 8px 16px;
    background: #EE4248;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 24px;
    margin-top: 16px;
    cursor: pointer;
    margin-bottom: 5px;

}

.product-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144.69%;
    color: #FFFFFF;

}
