.technology-wrapper {
    margin-bottom: 101px;
}

.technology {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 17px;
    padding-top: 60px;
    padding-bottom: 58px;
}

.technology-left {
    width: 545px;
    height: 351px;
    align-self: center;
}


.technology__header {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: #1F2E35;
    margin-bottom: 24px;
}


.technology__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
    margin-bottom: 24px;
}


.button {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 37px;
    gap: 10px;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;

}


.link {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144.69%;
    color: #FFFFFF;

}


.technology-right {


}
