.welcome-wrapper {
    box-sizing: border-box;
    background: #F7F7F7;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.welcome-left {
    align-self: end;
    justify-self: end;
    margin-right: 82px;
    padding-bottom: 78px;
    padding-top: 68px;
}

.welcome-right {
    width: 520px;
    padding-top: 50px;
}

.welcome__header {

    width: 454px;
    height: 86px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: #1F2E35;
    margin-bottom: 24px;
}
.welcome-text {

     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
     color: #30444E;

 }

