.footer-wrapper {
    background: #EE4248;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;

}
