.navbar-wrapper {
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

}


.navbar-left {

}


.navbar-center {

}

.navbar-center-list {
    display: flex;
    align-items: center;
}


.navbar-center-list-link:not(:last-child) {
    margin-right: 50px;
}

.navbar-center-list-link__item {
    color: rgba(31, 46, 53, 0.8);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

.navbar-right {

}
.navbar-right-list {
    display: flex;
    align-items: center;
}

.navbar-right-list-link:not(:last-child) {
    margin-right: 24px;
}



